.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.product {
  margin: 20px;
  padding: 10px;
  background-color: #b67171;
  border-radius: 80px;
  width: 50%;
}
.button {
  background-color: #5b5b5b;
  color: white !important;
  border-radius: 8px;
  outline: 0;
  cursor: pointer;
}
.filter-content {
  background-color: #b67171;
  padding: 5px;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
